.day {
	padding: 10px;
	margin: 20px;
	background-color: lightgreen;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.results {
	padding: 10px;
	margin: 20px;
	background-color: forestgreen;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 3.75vw;
}

.displayBox {
	background-color:mediumseagreen; 
	padding:10px; 
	margin: 5px; 
}

.payRates{
	background-color:mediumseagreen; 
	padding:10px; 
	margin: 5px;
	font-size: 3.75vw;
}

.ratesTitle, .ratesInput {
	display:block;
	margin-left: 25px;
	margin-right: 25px;
}

.ratesTitle {
	font-size: 3.75vw;
	margin-bottom: 5px;
}

.ratesInput {
	width: 20vw;
	height: 3vw;
	font-size: 2.75vw;
	text-align: center;
}

.pay {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 4vw;
	margin: 5px;
}

.equationSymbolsDays{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 8vw;
}

.equationSymbolsResults{
	margin-left: 20px;
	margin-right: 20px;
	font-size: 7.5vw;
}

.boldFont{
	font-weight: bold;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.alignCentre {
	align-items: center;
}

.flexCentre {
	justify-content: center;
}

.flexSpaceBetween{
	justify-content: space-between;
}

.dayTopRow {
	display: flex;
	flex-direction: row;
}

/*.dayMiddleRow {
	display: flex;
	flex-direction: row;
}

.dayBottomRow {
	display: flex;
	flex-direction: row;
}*/

.times{
/*	text-align: right;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 5vw;
	align-items: center;
}

.titles {
	margin: 5px;
}

.dayOff {
	display: none;
	flex-direction: row;
	justify-content: center;
	font-size: 18.285vw;
	margin-bottom: 10px;
	font-weight: bold;
	color: crimson;
}

.dayName {
	font-size: 10vw;
	margin-left: 2.5vw;
}

.breakName {
	font-size: 3.5vw;
}

/*.dayMiddleRow > label, .dayBottomRow  > label {
	font-size: 21px;
}*/

.timeInput {
	margin: 10px;
}

.dayCheckbox {
	width: 8vw;
	height: 8vw;
}

.breakCheckbox {
	width: 4vw;
	height: 4vw;
}

input[type="time"] {
	width: 25vw;
	height: 6vw;
	font-size: 3.5vw;
	text-align: center;
}

body {
	background-color: darkgreen;
}