.Home {
  background-color: #f2f2f2;
  opacity: 1;
  /* margin: 3vw; */
  background: transparent;
}

#sectionNames{
  font-family: Verdana, sans-serif;
  color: #949494;
  font-size: calc(4px + 3.5vw);
}

hr{
  border: 1px solid #000000;
  opacity: 0.15;
  margin-top: 3vw;
  margin-bottom: 3vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.Profile-logo {
  /* height: calc(10px + 40vw); */
  pointer-events: none;
  border-radius: 50%;
}

.LinkedIn-logo {
  height: calc(15px + 5vw);
  width: auto;
  pointer-events: none;
}

.Home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 3vw;
  margin-bottom: 5vw;
}

.Home-header span {
  color: #226e93;
  font-family: Lato, sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  font-size: calc(4px + 3.5vw);
}

@media only screen and (max-width: 768px) {
  .Home-header span {
    color: #226e93;
    font-family: Lato, sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: calc(4px + 2.5vw);
  }
}

.LinkedIn {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.LinkedIn p {
  color: #226e93;
  font-family: Lato, sans-serif;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-align: center;
  font-size: calc(5px + 3vw);
  margin-right: 1vw;
}

.Home-body {
  margin: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-body img {
  margin-left: 3vw;
}

.Typeit {
  width: 40vw;
  height: 30vw;
}

.particles {
  position: fixed;
  width: 100%;
  z-index: -1;
}